@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  height: 100%;
}

.reactFlow {
  background-color: #5f5d72;
}

.node {
  background-color: #222138;
  color: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.533) 0px 0px 9px 0px;
  padding: 15px;
  border-radius: 8px;
}

.nodeDropzone {
  background-color: #4b2bac;
  box-shadow: 0 0 9px 0 #4b2bac;
}

.handle {
  pointer-events: none;
  /* opacity: 7%; */
}

.sidebar {
  color: white;
  top: 5px;
  left: 5px;
  z-index: 1000;
  padding: 10px;
  border-right: 1px solid #b2478f;
  width: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #222131;
}

.sidebarLabel {
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebarNode {
  background: #222138;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: chocolate;
}

.sidebarNode:hover {
  box-shadow: rgba(0, 0, 0, 0.533) 0px 0px 9px 0px;
}

.react-flow__handle-left,
.react-flow__handle-right {
  @apply !h-4 !w-2;
}

.react-flow__handle-top {
  @apply !h-2 !w-2;
}

.react-flow__handle-bottom {
  @apply !h-2 !w-2;
}
.react-flow__handle-bottom {
  bottom: -8px !important;
}
.react-flow__handle-top {
  top: -8px !important;
}

.react-flow__handle {
  @apply !rounded !bg-gray-900;
}
